body {
    margin: 0px;
    /* font-family: 'Open Sans', Helvetica, sans-serif; */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial;
  }
  
  img {
    float: left;
    padding-right: 10px;
  }
  
  p {
    font-size: 15px;
    line-height: 25px;
  }
  
  h1 {
    line-height: 60px;
    margin: 10px 0px 0px 80px;
    position: absolute;
    /* font-family: Helvetica; */
    color: white;
    text-shadow: 1px 1px 8px #ff0000;
    z-index: 1000;
  }
  
  #map {
    width: 100vw;
    height: 100vh;
  }

  #header {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #reset-button {  
    position: absolute;
    /*background-color: #4CAF50; */
    height: 32px;
    width: 34px;
    box-shadow: 0 1px 1px 0 #888;
    background: white;
    border: none;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    z-index: 1000;
    top: 20px;
    right: -48px;
    /*opacity: 0.8;*/
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 19px;
  }

  #reset-button i {
    margin-top: -2px;
  }

  #reset-button:hover {
    color: rgb(68, 68, 68);
    background-color: rgb(240, 240, 240);
  }

  .del-btn {
    display: inline-block;
    background-color: white;
    color: red;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: right;
    cursor: pointer;
    opacity: 0.8;
  }

  .del-btn:hover {
    opacity: 1;
  }

.change-btn-item {
  display: inline-block;
}

.change-btn-item img {
  height: 20px;
  margin-bottom: -4px;
  padding: 0;
}

.change-btn {
  display: inline-block;
  /*float: left;*/
  background-color: white;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.7;
}

.change-btn:hover {
  opacity: 1;
}

  .nav-btn {
    display: block;
    background-color: white;
    color: blue;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: 'right';
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    right: 34px;
    top: 2px;
  }

  .nav-btn:hover {
    opacity: 0.6;
  }


  #editable {
    position: absolute;
    height: 32px;
    width: 34px;
    background-color: white;
    box-shadow: 0 1px 1px 0 #888;
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    z-index: 2000;
    top: 110px;
    left: -50px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: black;
    font-size: 21px;
  }

  #editable:hover {
    color: rgb(68, 68, 68);
    background-color: rgb(240, 240, 240);
  }

  .leaflet-draw-edit-edit.leaflet-disabled {
    display: none;
  }

#geoprocessing-maximize {
    /* display: none; */
    display: block;
    position: absolute;
    height: 32px;
    width: 34px;
    background-color: white;
    box-shadow: 0 1px 1px 0 #888;
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    z-index: 2000;
    top: 156px;
    left: -50px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: black;
    font-size: 21px;
}

#geoprocessing-minimize {
    color: black;
    position: absolute;
    right: 1px;
    top: 2px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#editable:hover {
    color: rgb(68, 68, 68);
    background-color: rgb(240, 240, 240);
}

  #tree-form {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: 1px 2px 2px #888;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    z-index: 1500;
    transition: 0.2s ease-in-out;
    font-size: 25px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin-top: -190px;
    margin-left: -220px;
    width: 440px;
    height: 380px;
  }

  #form-permission {
    width: 174px;
    height: 20px;
  }
  
  .form-group {
    /* display: flex; */
    text-align: left;
    margin-left: 15px;
  }
  
  .form-control {
    /* display: inline-block; */
    float: right;
    border-radius: 0px;
    margin-left: 20px;
    width: 170px;
  }

  #form-control-buttons {
    padding: 15px 0 0 0;
  }

  #hidden {
    display: none;
  }

  #geospatial-tools-container {
    position: fixed;
    display: none;
    top: 10px;
    left: 150px;
    z-index: 1000;
    /* background: #f5f5f5; */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #888;
    padding-right: 5px;
  }
  
  #geospatial-header {
    display: inline-block;
    /* background: white; */
    color: black;
    padding: 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* text-align: center; */
    font-weight: bold;
    /* height: 30px; */
    /* margin-top:-10px; */
    vertical-align: middle;
    /* text-align: center; */
  }
  
  #geospatial-tools {
    display: inline-block;
    /* display: none; */
    vertical-align: middle;
  }
  
  #geospatial-tools-menu {
    vertical-align: middle;
    display: inline-block;
    border-radius: 3px;
    border-color: #d3d3d3;
    /* background: #f5f5f5; */
    background: white;
    /* height: 29px; */
    /* width: 160px; */
  }

  #geospatial-editable {
    display: inline-block;
    background-color: white;
    border: none;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
  }

  #geospatial-tool-buffer {
    display: none;
  }
  
  #geospatial-tool-nearest {
    display: none;
  }
  
  #number-of-points {
    display: inline-block;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
    font-size: 18px;
  }
  
  #buffer-distance {
    height: 30px;
    width: 50px;
    border-radius: 3px;
    border: solid 1px #d3d3d3;
    font-size: 18px;
  }

  .leaflet-disabled {
    display: none;
  }

  #unit {
    display: inline-block;
    color: black;
  }

  #submitButton {
    background: blue;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px #888;
    font-size: 15px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    margin-left: 40px;
  }
  
  #cancelButton {
    background: red;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px #888;
    font-size: 15px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
  }

  #locate {  
    position: absolute;
    height: 32px;
    width: 34px;
    background-color: white; 
    box-shadow: 0 1px 1px 0 #888;
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    z-index: 2000;
    top: 74px;
    right: -48px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: black;
    font-size: 21px;
  }

  #locate:hover {
    color: rgb(68, 68, 68);
    background-color: rgb(240, 240, 240);
  }

  #fullscreen {  
    position: absolute;
    height: 32px;
    width: 34px;
    background-color: white; 
    box-shadow: 0 1px 1px 0 #888;
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    z-index: 2000;
    top: 131px;
    right: -48px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: black;
    font-size: 21px;
  }

  #fullscreen:hover {
    color: rgb(68, 68, 68);
    background-color: rgb(240, 240, 240);
  }

  #legend {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 1px 0 #afafaf;
    z-index: 1000;
    position: absolute;
    right: 10px;
    bottom: 23px;
    padding: 4px;
  }

  #legend-minimize {
    color: black;
    position: absolute;
    right: 1px;
    top: 2px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  #legend-maximize {
    display: none;
    color: #1b3737;
    background: #f0f0f0;
    position: fixed;
    bottom: 20px;
    right:0;
    border: none;
    border-radius: 3px;
    padding: 3px;
    z-index: 1000;
    cursor: pointer;
  }

  #legend-maximize:hover {
      background: #e6e6e6;
  }

  #legend h4 {
    padding: 4px;
    margin: 0px;
  }

  .legend-item {
    display: flex;
    flex-direction: row;
    padding: 4px;
  }

  .legend-content {
    /*display: inline-block;*/
    margin-top: 10px;
    color: darkslategray;
    font-size: 15px;
  }

  @media only screen and (max-device-width: 600px){
    #geospatial-tools-container {
      left: 50%;
      right: 50%;
      /* display: flex; */
      display: none;
      align-items: center;
      justify-content: center;
      background: transparent;
      box-shadow: none;
    }

    #geospatial-editable {
      display: none;
    }

    #geospatial-title {
      background: rgba(255,255,255,1);
      padding: 1px;
    }

    #legend {
      bottom: 50px;
      right: 4px;
      font-size: 15px;
    }

    #legend img {
      height: 25px;
    }

    .legend-content {
      font-size: 14px;
    }

    #legend-maximize {
        bottom: 50px;
    }

    #tree-form {
      margin-top: -260px;
      margin-left: -145px;
      width: 250px;
      height: 480px;
      z-index: 2000;
    }

    #form-permission {
      width: 106px;
    }

    .form-group label {
      font-size: 19px;
    }

    #tree-form h3 {
      font-size: 1em;
    }

    .form-control {
      width: 32vw;
    }

    #geospatial-tools-menu {
      padding: 3px;
    }

    #geoprocessing-minimize {
        right: -90px;
    }

  }
